/*------------------------{Cabeçalho}-----------------------*/

*{
    font-family: 'Oswald', sans-serif, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #12141d;
    animation: gradiente 1s ease infinite;
    overflow-x: hidden;
}

.barra-superior nav{
    display: flex;
    width: 100%;
    height: 8%; 
    padding: 1% 2%; 
    align-items: center;
    justify-content: space-between;
    background-color: #12141d;
    box-shadow: 0 0.4em 0.6em rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1100;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

.barra-superior nav:hover{
    opacity: 1;
}

.Titulo-portfolio{
    font-size: 1.5em; 
    margin: 0;
    color: white;
}

.Separacao-botoes{
    display: flex;
    gap: 3%;
    list-style: none;
}

.Separacao-botoes li{
    display: flex;
}

.Separacao-botoes button{
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
    padding: 0;
}

.Separacao-botoes button:hover{
    text-decoration: underline;
}

.Materias{
    position: relative;
}

.lista-materias{
    display: none;
    position: absolute;
    top: 30px; 
    right: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.3);
}

.lista-materias li{
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.lista-materias li:hover{
    background-color: #555;
}

.Materias:hover .lista-materias{
    display: block;
}

/*------------------------{Contéudo Novo}-----------------------*/

.BannerMatematica {
    width: 100%; 
    height: 600px;
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 500;
}

.BannerMatematica img{
    width: 100%;
}

.MathSobreBanner{
    position: absolute;
    justify-content: center;
    font-size: 100px;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    z-index: 1000;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

/*------------------------{Atividades}-----------------------*/

.tittleAtividades {
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid black 2px;
    background-color: #151722;
}

.AlinhamentoAtividadeMath {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%; 
    margin: 30px auto; 
    padding-bottom: 3%;
    border-bottom: solid black 2px;
}

.Atv1Math {
    flex: 1; /* Faz com que ocupe o espaço disponível */
    max-width: 70%; /* Limita a largura para não ficar muito largo */
    padding-left: 10%;
}

.Atv1Math h1 {
    font-size: 36px;
    color: white;
    padding-bottom: 3%;

}

.Atv1Math h3 {
    font-size: 1rem;
    color: white;
    font-style: normal;
}

.ImgBotaoAtv1 {
    flex: 1; /* Faz com que ocupe o espaço disponível */
    text-align: center; /* Centraliza o conteúdo */
}

.imgAtv1Math img {
    width: 100%; /* Garante que ocupe toda a largura disponível */
    max-width: 300px; /* Define um tamanho máximo */
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 5%;
}

.botaoAtividade1 {
    display: block;
    margin-top: 10px;
}

.botaoAtividade1 button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ffac13;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    width: 48%;
}

.botaoAtividade1 button:hover {
    background-color: #e89c10;
}

/*--------------------------{footer}-------------------------*/

footer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(6, 6, 12);
    height: 240px;
}

.TextoFooter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

#footer_list {
    list-style: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    padding: 0;
    margin-top: 10px;
}

#footer_list li {
    display: flex;
}

#footer_list li h3 {
    margin: 0; 
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.link-contato {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

.link-contato:hover {
    color: #ffac13;
    text-decoration: underline;
}

.link-contato img {
    width: 24px; 
    height: 24px; 
}